/* selecto ID */ 
*{
    padding: 0 auto; 
    margin: 0 auto;
}
#contenedor {
    width: 900px;
    height: 1200px;
    background-color:#d49e23;
}
#encabezado{
    height: 25%;
    background-color: #d9bd1f;
    background: url(/img/navidad.jpeg); 
    text-align: center;
}
#menu{
    height: 5%;
    background-color: #713505;
    color: #ddd;

}
#contenido {
    height: 30%;
    border: 2px;
    background-color: #b01a1c;

}
#contenido2 {
    height: 30%;
    border: 2px;
    background-color:  #dcc43c;

}

#pie{
    height: 10%;
    background-color:  #744607;
    text-align: center;
    margin: 1.5em;  
    display: flex;
  
}
/* selector de clase */ 
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 14;
    margin-left: 10px;
    margin-right: 50%;
    padding-top: 10px;
    

}
.texto2{
    text-align: justify;
    font-family: tahoma;
    font-size: 14;
    margin-left: 50%;
    margin-right: 10px;
    padding-top: 10px;

}
.encabezado_articulo{
    font-family: tahoma;
    text-align: left;
    font-size: 16;
    color: white;
    margin: auto 2em;

}
.encabezado_articulo2{
    font-family: tahoma;
    text-align: right;
    font-size: 16;
    color: white;
    margin: auto 2em;

}
.imagenes {

    border: 1px solid #ddd;
    margin-left: 50%;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    display: flex;

}
.imagenes2 {

    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 50%;
    width: 100px;
    height: 100px;
    display: flex;


}
/*selector de etiqueta */
ul{

    text-align: center;
    line-height: 50px;

}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}
